In [37]:
import pandas as pd

rawData = pd.read_csv(
    'dataTests/rawData2.csv', 
    encoding='latin-1',
    #sep=',',
    #names = [f"Column{i+1}" for i in range(rawData.shape[1])]
    )


rawData.head()

,0-5-1,PBSWITCH,SWITCH,Master's I/O Control Switch 1,N/A,-1,-1.1,-1.2,-1.3,-1.4,-1.5,-1.6,-1.7,-1.8,-1.9,-1.10
0,0-5-2,PBSWITCH,SWITCH,Master's I/O Control Switch 2,N/A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,0-5-3,PBSWITCH,SWITCH,Master's I/O Control Switch 3,N/A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,0-5-4,PBSWITCH,SWITCH,Master's I/O Control Switch 4,N/A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,0-5-5,PBSWITCH,SWITCH,Master's I/O Control Switch 5,N/A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,0-5-6,MKYLED5,LED,Master's I/O Control LED 6,N/A,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [32]:
rawData = pd.DataFrame(rawData)
rawData = rawData[['Column1', 'Column2', 'Column3', 'Column4']]

rawData.rename(columns={
    'Column1' : 'panel_adress', 
    'Column2' : 'type_device',
    'Column3' : 'action',
    'Column4' : 'description'
}, inplace=True)

KeyError: "['Column4'] not in index"

In [21]:
rawData

,panel_adress,type_device,action,description
0,SIG4-1,716,291,N2-L23-001-SIRENE
1,SIG4-2,716,291,N2-L21-002-SIRENE-PN
2,SIG4-3,716,291,N2-L21-003-SIRENE-PN
3,SIG4-4,716,291,N2-L21-004-SIRENE-PN
4,SIG4-5,716,291,N2-L21-005-SIRENE-PN
...,...,...,...,...
504,M4-109-0,PHOTO,SMOKE,N2-L24-109-DF-ANTISALA BANH-1P-CN
505,M4-110-0,PHOTO,SMOKE,N2-L24-110-DF-ANTISALA BANH-1P-CN
506,M4-111-0,PHOTO,SMOKE,N2-L24-111-DF-WC PNE MASC -1P-CN
507,M4-112-0,PHOTO,SMOKE,N2-L24-112-DF- FRAUDµRIO DES INTER-1P-CN
508,M4-113-0,PHOTO,SMOKE,N2-L24-113-DF-FRAUDµRIO DES INTER -1P-CN

In [ ]:
rawData.set_index('panel_adress', inplace=True)

In [17]:
rawData.tail()

             type_device  action                                description
panel_adress
M4-109-0           PHOTO   SMOKE          N2-L24-109-DF-ANTISALA BANH-1P-CN
M4-110-0           PHOTO   SMOKE          N2-L24-110-DF-ANTISALA BANH-1P-CN
M4-111-0           PHOTO   SMOKE           N2-L24-111-DF-WC PNE MASC -1P-CN
M4-112-0           PHOTO   SMOKE   N2-L24-112-DF- FRAUDµRIO DES INTER-1P-CN
M4-113-0           PHOTO   SMOKE   N2-L24-113-DF-FRAUDµRIO DES INTER -1P-CN

In [24]:
import pandas as pd

# Example DataFrame
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data)

# Dynamically assign column names
df.columns = [f"Column{i+1}" for i in range(df.shape[1])]

print(df)

   Column1  Column2  Column3
0        1        2        3
1        4        5        6
2        7        8        9