In [6]:
import pandas as pd

rawData = pd.read_csv(
    'dataTests/rawData.csv', 
    encoding='latin-1',
     sep=';')

rawData.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16
0,SIG4-1,716,291,N2-L23-001-SIRENE,5,10,0,0,2,1,1,NaN,0,0,0,0
1,SIG4-2,716,291,N2-L21-002-SIRENE-PN,5,10,0,0,2,1,1,NaN,0,0,0,0
2,SIG4-3,716,291,N2-L21-003-SIRENE-PN,5,10,0,0,2,1,1,NaN,0,0,0,0
3,SIG4-4,716,291,N2-L21-004-SIRENE-PN,5,10,0,0,2,1,1,NaN,0,0,0,0
4,SIG4-5,716,291,N2-L21-005-SIRENE-PN,5,10,0,0,2,1,1,NaN,0,0,0,0

In [7]:
rawData.size

8144

In [13]:
rawData = pd.DataFrame(rawData)
rawData = rawData[['Column1', 'Column2', 'Column3', 'Column4']]

rawData.rename(columns={
    'Column1' : 'panel_adress', 
    'Column2' : 'type_device',
    'Column3' : 'action',
    'Column4' : 'description'
}, inplace=True)

In [14]:
rawData

,panel_adress,type_device,action,description
0,SIG4-1,716,291,N2-L23-001-SIRENE
1,SIG4-2,716,291,N2-L21-002-SIRENE-PN
2,SIG4-3,716,291,N2-L21-003-SIRENE-PN
3,SIG4-4,716,291,N2-L21-004-SIRENE-PN
4,SIG4-5,716,291,N2-L21-005-SIRENE-PN
...,...,...,...,...
504,M4-109-0,PHOTO,SMOKE,N2-L24-109-DF-ANTISALA BANH-1P-CN
505,M4-110-0,PHOTO,SMOKE,N2-L24-110-DF-ANTISALA BANH-1P-CN
506,M4-111-0,PHOTO,SMOKE,N2-L24-111-DF-WC PNE MASC -1P-CN
507,M4-112-0,PHOTO,SMOKE,N2-L24-112-DF- FRAUDÂµRIO DES INTER-1P-CN
508,M4-113-0,PHOTO,SMOKE,N2-L24-113-DF-FRAUDÂµRIO DES INTER -1P-CN

In [15]:
rawData.set_index('panel_adress', inplace=True)
rawData.head()

             type_device action            description
panel_adress
SIG4-1               716    291      N2-L23-001-SIRENE
SIG4-2               716    291   N2-L21-002-SIRENE-PN
SIG4-3               716    291   N2-L21-003-SIRENE-PN
SIG4-4               716    291   N2-L21-004-SIRENE-PN
SIG4-5               716    291   N2-L21-005-SIRENE-PN